* {
    font-family: mastery kindon;
}

@font-face {
    font-family: mastery kindon;
    src: url ( Mastery Kingdom,otf);
}

h1 {
    font-weight: bold;
    display: block;
    font-size: 7em;
    font-weight: 900;
    color: black;
}

nav {
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 70px;
    line-height: 80px;
    z-index: 111;
}

.logo {
    display: flex;
    font-size: 40px;
    font-weight: 800;
    color: rgb(102, 2, 2);
    cursor: pointer;
}

.botones {
    display: flex;
}

.botones li {
    list-style: none;
    margin: 0 15px;
}

.botones li a {
    font-size: 25px;
    color: rgb(143, 3, 3);
    letter-spacing: 3px;
    text-decoration: none;
    text-transform: capitalize;

} 

.botones li:hover a, 
.redes a:hover {
    color: black;

}

.redes a {
    font-size: 30px;
    color: rgb(143, 3, 3);
    margin: 25px 10px;
}

.logotipo {
    height: 30px;
    color: rgb(102, 2, 2);
    text-decoration: none;
}

@media (max-width: 982px) {
    .redes a {
        font-size: 30px;
        color: rgb(143, 3, 3);
        margin: 25px 10px;
        display: none;
    }
}

@media (max-width: 850px) {
    .logo {
        display: none;
        font-size: 40px;
        font-weight: 800;
        color: rgb(102, 2, 2);
        cursor: pointer;
    }
}

@media (max-width: 992px) {
    p {
        display: none;
        width: 90%;
        font-size: 1.2em;
        color: black;
    }
}

@media (max-width: 982px) {
    .botones li a {
        font-size: 20px;
        color: rgb(143, 3, 3);
        letter-spacing: 3px;
        text-decoration: none;
        text-transform: capitalize;
    } 
}

.caja {
    background-color: rgb(49, 0, 0);
    position: relative;
    height: 70vh;
    width: 115%;
    top: 100px;
    left: -70px;
    border-radius: 50px;
    z-index: 9;
}

.caja::before {
    position: absolute;
    content: '';
    height: 200px;
    width: 200px;
    border-radius: 50%;
    left: -10%;
    top: 30%;
    background: linear-gradient(45deg,black,rgb(102, 2, 2));
    z-index: 0;
    animation: animacion 20s linear infinite;
}

@keyframes animacion {

    50% {
        top: 100px;
    }
}

.caja::after {
    position: absolute;
    content: '';
    height: 100px;
    width: 100px;
    border-radius: 50%;
    left: 95%;
    top: 75%;
    background: linear-gradient(45deg,black,rgb(102, 2, 2));
    z-index: 0;
    animation: animacion1 20s linear infinite;
}

@keyframes animacion1 {

    50% {
        left: 1000px;
    }
}


#spot {
    position: relative;
    height: 70%;
    top: 130px;
    left: 200px;
}

@media (max-width: 991px) {
    #spot {
        position: relative;
        height: 50%;
        top: 80px;
        left: 200px;
    }
}

@media (max-width: 767px) {
    #spot {
        position: relative;
        height: 30%;
        top: 80px;
        left: 200px;
    }
}